[submodule "third_party/opentelemetry-cpp"]
	path = third_party/opentelemetry-cpp
	url = git@github.com:open-telemetry/opentelemetry-cpp.git
[submodule "third_party/oatpp"]
	path = third_party/oatpp
	url = git@github.com:oatpp/oatpp.git
[submodule "third_party/json"]
	path = third_party/json
	url = git@github.com:nlohmann/json.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
